<div>
	<p>Click "MPMA" up top to go home.</p>

	<h3>Homepage</h3>
	<p>
		Tap on a story card to go to the page for that story. Tap on a header to
		view more.
	</p>

	<h3>Story</h3>
	<p>
		MPMA makes reading stories easier for you, by fading colors so that
		they're readable, and automagically loading the next page. If a story
		has branching paths, you can tap on one of the options to pick that
		path.<br />
		Tap on the header for a page to save your spot for later.
	</p>
</div>
