<script lang="ts">
	import { createEventDispatcher } from "svelte";
	import StoryCard from "../components/StoryCard.svelte";
	import { stories } from "../lib/http";

	let dispatcher = createEventDispatcher();

	let loaded = false;
	let lastUpdated;
	let top;
	(async () => {
		lastUpdated = await stories({
			active: ["ongoing"],
			count: 8,
			order: "updated",
		});
		top = await stories({
			active: ["ongoing"],
			count: 4,
			order: "favs",
		});
		loaded = true;
	})();

	function sendUp({ detail }) {
		dispatcher("loadme", detail);
	}

	function sendTitle(active: string[], order: string) {
		sendUp({
			detail: ["storylist", { active, count: 100, order }],
		});
	}
</script>

<!-- <div> -->
<p>
	is a mobile client for MSPFA. <button
		on:click={() => sendUp({ detail: ["help", 0] })}>Help?</button
	>
</p>
{#if loaded}
	<!-- svelte-ignore a11y-click-events-have-key-events -->
	<h3 on:click={() => sendTitle(["ongoing"], "updated")}>Recently Updated</h3>
	{#each lastUpdated as story}
		<StoryCard s={story} on:loadme={sendUp} />
	{/each}
	<h3>Top Ongoing</h3>
	{#each top as story}
		<StoryCard s={story} on:loadme={sendUp} />
	{/each}
{:else}
	<p>Loading...</p>
{/if}
<!-- </div> -->
