<script lang="ts">
	import { createEventDispatcher } from "svelte";
	import { story } from "../lib/http";

	let dispatcher = createEventDispatcher();

	let localEntires = Object.entries(localStorage);

	let saves = {};
	localEntires.forEach(([key, value]) => {
		if (key.startsWith("mpma-save-")) saves[key.substring(10)] = value;
	});
	let sortedSaves = [];
	for (const save in saves) {
		sortedSaves.push({ ...JSON.parse(saves[save]), id: save });
	}
	sortedSaves = sortedSaves.sort((a, b) => b.time - a.time);

	let loadedSaveData = {};
	let countLoaded = 0;
	sortedSaves.forEach(async save => {
		loadedSaveData[save.id] = await story(save.id);

		countLoaded++;
		if (countLoaded == sortedSaves.length) allLoaded();
	});

	let incomplete = [];
	let complete = [];
	function allLoaded() {
		incomplete = sortedSaves.filter(d => d.page !== loadedSaveData[d.id].p.length - 1);
		complete = sortedSaves.filter(d => d.page === loadedSaveData[d.id].p.length - 1);
	}
</script>

<h3>incomplete stories</h3>
{#each incomplete as save}
	{#if loadedSaveData[save.id]}
		<!-- svelte-ignore a11y-click-events-have-key-events -->
		<div class="save" on:click={() => dispatcher("loadme", ["story", save.id])}>
			<img
				src={loadedSaveData[save.id].o}
				width="100"
				height="100"
				alt=""
			/>
			<div>
				<p>{loadedSaveData[save.id].n}</p>
				<progress
					value={save.page}
					max={loadedSaveData[save.id].p.length}
				/>
			</div>
		</div>
	{/if}
{/each}
<h3>complete stories</h3>
{#each complete as save}
	{#if loadedSaveData[save.id]}
		<div class="save">
			<img
				src={loadedSaveData[save.id].o}
				width="100"
				height="100"
				alt=""
			/>
			<div>
				<p>{loadedSaveData[save.id].n}</p>
				<p>Complete!</p>
			</div>
		</div>
	{/if}
{/each}

<style>
	.save {
		display: grid;
		grid-template-columns: 100px 1fr;
	}

	p {
		margin: 3px;
	}
</style>
