<script lang="ts">
	import { createEventDispatcher } from "svelte";
	import StoryCard from "../components/StoryCard.svelte";
	import { stories, type StoriesQuery } from "../lib/http";

	export let grep: StoriesQuery;

	let dispatcher = createEventDispatcher();

	let loaded = false;
	let result;
	(async () => {
		result = await stories(grep);
		loaded = true;
	})();

	function sendUp({ detail }) {
		dispatcher("loadme", detail);
	}
</script>

{#if loaded}
	<div>
		{#each result as s}
			<StoryCard {s} on:loadme={sendUp} />
		{/each}
	</div>
{:else}
	<p>Loading...</p>
{/if}
