<script lang="ts">
	import { parseBBCode } from "../lib/bbcode";
	import { triggerBlend } from "../lib/color";
	import { story } from "../lib/http";
	import { Toast } from "@capacitor/toast";
	import { onDestroy, onMount } from "svelte";

	export let id: number;

	let saveExists = false;

	let loaded = false;
	let loadedPages = [];
	let storyData;
	(async () => {
		storyData = await story(id);
		// console.log(storyData);
		loaded = true;

		saveExists = localStorage.getItem(`mpma-save-${storyData.i}`) !== null;

		// let pageIdx = parseInt(
		// 	localStorage.getItem(`mpma-save-${storyData.i}`)
		// );
		let pageIdx = 0;
		let countLoaded = 0;
		let pageGoal = 10;

		let saveData: string;
		let savePage: number;
		if (saveExists) {
			saveData = localStorage.getItem(`mpma-save-${storyData.i}`);
			savePage = JSON.parse(saveData).page;
			if (savePage > pageGoal) pageGoal = Math.ceil(savePage / 10) * 10;
		}

		storyData.p = storyData.p.map((page, idx) => ({ ...page, idx }));

		let page = storyData.p[pageIdx];
		// console.log(storyData.p);
		while (
			(pageIdx === 0 || storyData.p[pageIdx]?.n.length <= 1) &&
			countLoaded <= pageGoal
		) {
			loadedPages.push(page);
			// if (page.n[0] === undefined) pageIdx = -999;
			// else pageIdx = page.n[0] - 1;
			pageIdx++;
			countLoaded++;

			page = storyData.p[pageIdx];
		}
		// console.log(loadedPages);
		setTimeout(triggerBlend, 100);
		if (saveExists)
			setTimeout(() => {
				document
					.getElementById(`title-${savePage}`)
					.scrollIntoView({ behavior: "smooth", block: "center" });
			}, 1000);

		console.log(loadedPages.at(-1));
	})();

	function loadPage(pageIdx: number) {
		let first = true;
		let countLoaded = 0;

		let page = storyData.p[pageIdx];
		do {
			loadedPages.push(page);
			loadedPages = loadedPages;
			pageIdx = page.n[0] - 1;
			countLoaded++;
			page = storyData.p[pageIdx];
			first = false;
		} while (
			(first || storyData.p[pageIdx].n.length <= 1) &&
			countLoaded < 10
		);
		setTimeout(triggerBlend, 100);
	}

	function savePage(pageIdx: number) {
		localStorage.setItem(
			`mpma-save-${storyData.i}`,
			JSON.stringify({ page: pageIdx.toString(), time: Date.now() })
		);
		saveExists = true;

		Toast.show({ text: "Saved!", duration: "short", position: "bottom" });
	}

	function deleteSave() {
		localStorage.removeItem(`mpma-save-${storyData.i}`);
	}

	function scrollListener() {
		let last = document.querySelector(
			"[data-last=true]"
		) as HTMLHeadingElement;
		const style = getComputedStyle(last);
		if (
			last.offsetWidth +
				last.offsetHeight +
				last.getBoundingClientRect().height +
				last.getBoundingClientRect().width ===
			0
		) {
			return;
		}
		const elemCenter = {
			x: last.getBoundingClientRect().left + last.offsetWidth / 2,
			y: last.getBoundingClientRect().top + last.offsetHeight / 2,
		};
		if (elemCenter.x < 0) return;
		if (
			elemCenter.x >
			(document.documentElement.clientWidth || window.innerWidth)
		)
			return false;
		if (elemCenter.y < 0) return;
		if (
			elemCenter.y >
			(document.documentElement.clientHeight || window.innerHeight)
		)
			return;
		let pointContainer = document.elementFromPoint(
			elemCenter.x,
			elemCenter.y
		);
		loadPage(parseInt(last.querySelector(".unimportant").textContent))
	}

	onMount(() => {
		window.addEventListener("scroll", scrollListener);
	});
	onDestroy(() => [window.removeEventListener("scroll", scrollListener)]);
</script>

{#if loaded}
	{#if saveExists}
		<button on:click={deleteSave}>Delete Save</button>
	{/if}
	{#each loadedPages as page}
		<!-- svelte-ignore a11y-click-events-have-key-events -->
		<h1
			class="title"
			id={`title-${page.idx}`}
			data-last={page.idx === loadedPages.at(-1).idx}
			on:click={() => savePage(page.idx)}
		>
			{page.c ?? "Title not found"}
			<span class="unimportant">{page.idx + 1}</span>
		</h1>
		{@html parseBBCode(page.b, true).innerHTML}
		{#if page.n.length > 1}
			<div class="options">
				<p>Where to?</p>
				{#each page.n as next}
					<!-- svelte-ignore a11y-click-events-have-key-events -->
					<h4 class="nextpg" on:click={() => loadPage(next - 1)}>
						{storyData.p[next - 1].c}
					</h4>
				{/each}
			</div>
		{:else if page.n.length === 1 && page.idx === loadedPages.length - 1}
			<p>Loading the next batch...</p>
		{/if}
	{/each}
{:else}
	<p>Loading...</p>
{/if}

<style>
	.title,
	.nextpg {
		font-family: "JetBrains Mono";
	}

	.nextpg {
		color: #c8c8ee;
	}

	.options {
		background: #222;
	}

	.unimportant {
		font-size: 16px;
		color: #666;
	}
</style>
