<script lang="ts">
	import { createEventDispatcher } from "svelte";
	let dispatcher = createEventDispatcher();

	export let s: any;

	function post() {
		dispatcher("loadme", ["story", s.i]);
	}

	const statusStr = ["what", "Inactive", "Ongoing", "Complete"];
</script>

<div class="card" on:click={post} on:keyup={post}>
	<img src={s.o} width="150" height="150" alt="" />
	<p class="name">{s.n}</p>
	<p class="info">{statusStr[s.h]}</p>
	<p class="stats">
		{s.g.length.toLocaleString()} 💖 | {s.p.toLocaleString()} 📘
	</p>
</div>

<style>
	.card {
		padding: 10px;
		width: 150px;
		height: 220px;
		background: #333;
		display: inline-block;
		margin: 5px;
		cursor: pointer;
	}

	.card > .name {
		max-width: 150px;
		width: 150px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	.card > p {
		margin: 4px 0;
	}
</style>
