@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body,
main {
	background: #111;
	color: #eee;
	font-family: Inter;
	margin: 0;
	max-width: 100vw;
	overflow-x: hidden;
	overflow-y: auto;
}

main {
	position: relative;
	word-wrap: anywhere;
}

a {
	color: #bbe;
}

a:visited {
	color: #ebe;
}

/* Story View */
.spoiler {
	background: #222;
	border: solid thin #666;
	margin: 10px;
	padding: 5px;
	font-family: "JetBrains Mono";
	position: relative;
	padding-top: 18px;
}

/* .spoiler-btn input {
	appearance: none;
	border: none;
	font-family: "JetBrains Mono";
} */

img.full {
	width: 100vw;
}

.spoiler[data-text]::before {
	content: attr(data-text);
	position: absolute;
	top: -13px;
	left: 5px;
	background: #222;
	padding: 3px;

	border: solid thin #666;
}