<script lang="ts">
	import HelpPage from "./pages/HelpPage.svelte";
	import Homepage from "./pages/Homepage.svelte";
	import Saves from "./pages/Saves.svelte";
	import Story from "./pages/Story.svelte";
	import StoryList from "./pages/StoryList.svelte";

	let page = "home";
	let pageData: any = 0;

	let headerOpen = false;

	function tab(str: string) {
		return () => (page = str);
	}

	function loader({ detail }) {
		page = detail[0];
		pageData = detail[1];
	}
</script>

<main>
	<div id="header">
		<!-- svelte-ignore a11y-click-events-have-key-events -->
		<h1 on:click={() => (headerOpen = !headerOpen)}>
			MPMA
			<!-- <button
				on:click={() => {
					page = "story";
					pageData = 20784;
				}}>404</button
			> -->
		</h1>
	</div>

	<div id="header-details" style={`top: ${headerOpen ? "35px" : "-120px"}`}>
		<p>what will you do?</p>
		<ul id="header-entries">
			<!-- svelte-ignore a11y-click-events-have-key-events -->
			<li on:click={tab("home")}>home</li>
			<!-- svelte-ignore a11y-click-events-have-key-events -->
			<li on:click={tab("faves")}>your favorites</li>
			<!-- svelte-ignore a11y-click-events-have-key-events -->
			<li on:click={tab("saves")}>saves</li>
		</ul>
	</div>

	<div id="ghost-header" />

	{#if page === "home"}
		<Homepage on:loadme={loader} />
	{:else if page === "story"}
		<Story id={pageData} />
	{:else if page === "storylist"}
		<StoryList grep={pageData} on:loadme={loader} />
	{:else if page === "help"}
		<HelpPage />
	{:else if page === "faves"}
		<HelpPage />
	{:else if page === "saves"}
		<Saves on:loadme={loader} />
	{/if}
</main>

<style>
	#header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: #000;

		z-index: 2;

		user-select: none;
	}

	#header-details {
		position: fixed;
		/* top: 0; */
		left: 0;
		right: 0;
		background: #111;

		transition: top 250ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
		user-select: none;
		z-index: 2;
	}

	#header-entries > li {
		padding: 0;
	}

	#header-entries {
		list-style-type: "> ";
	}

	#header > h1 {
		margin: 0;
	}

	#ghost-header {
		display: block;
		height: 40px;
	}
</style>
